$primaryColor: #0a0b27;
$secondaryColor: #0eedb9;
$primaryFont: 'Raleway', sans-serif;

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h2{
	font-size: 5em;
	font-weight: 600;
}

h3{
	letter-spacing: 10px;
	font-weight: 600;
	font-size: 2em;
}

ul{
	list-style-type: none;
}

.importantText{
	color: $secondaryColor;
}

nav{
	width: 100%;
	position: fixed;
	z-index: 20;
}

#navContainer{
	width: 90%;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navItem{
	width: 150px;
	text-align: right;
}

#logo{
	max-width: 100%;
	cursor: pointer;

	&:hover{
		opacity: 0.7;
	}
}

#hamburgerMenu{
	cursor: pointer;
	width: 30%;

	&:hover{
		opacity: 0.5;
	}
}

#overlayMenu{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: $secondaryColor;
	color: $primaryColor;
	z-index: 40;
	text-align: right;
	padding: 80px;
	display: none;

	li{
		margin-bottom: 40px;
		font-size: 3em;
		font-weight: 600;
	}
}

.menuListItem{
	position: relative;
	width: auto;
	float: right;
	clear: both;
	cursor: pointer;
}

.listHover{
	transition-duration: 300ms;
	width: 0%;
	height: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: white;
}

#closeMenu{
	width: 100%;
	height: 40px;
	margin-bottom: 40px;
	cursor: pointer;

	img{
		height: 100%;
		&:hover{
			opacity: 0.6;
		}
	}
}

.clicked{
	display: block !important;
}

body{
	background-color: $primaryColor;
	font-family: $primaryFont;
	color: #ffffff;
}

#masterContainer{
	width: 100%;
	margin: 0 auto;
}

.primaryText{
	color: $primaryColor;
}

.contrastText{
	color: $secondaryColor;
}

#landingPageContainer{
	height: 100vh;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	display: none;

	p{
		padding-top: 10px;
		font-size: 1.8em;
		letter-spacing: 1px;
		margin-bottom: 40px;
	}
}

#landingPageContent{
	padding-top: 200px;
}

#downArrow{
	min-width: 50px;
	max-width: 50px;
	margin-top: 100px;
	transition-duration: 100ms;
	cursor: pointer;
	opacity: 0.7;

	&:hover{
		opacity: 1;
		max-width: 53px;
	}
}

.waveContainer{
	margin-top: -90px;
	margin-bottom: -10px;
	max-width: 100%;
	pointer-events: none;
	display: none;
}

.wave{
	max-width: 100%;
}

.buttonContainer{
	padding-top: 50px;
	width: 55%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.button{
	letter-spacing: 6px;
	border: 2px solid $secondaryColor;
	padding: 6px 23px 6px 23px;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	&:hover{
		font-weight: 600;
		color: $primaryColor;
	}
}

.buttonHoverEffect{
	position: absolute;
	top: 0;
	left: 0;
	background-color: $secondaryColor;
	height: 100%;
	width: 0%;
	z-index: -1;
	transition-duration: 300ms;
}

.blockContainer{
	width: 100%;
	text-align: center;
	padding: 90px 0px 90px 0px;
}

.blockText{
	width: 50%;
	margin: 0 auto;
	padding-top: 40px;
	font-size: 1.4em;
	line-height: 40px;
	letter-spacing: 1px;
}


#serviceContainer{
	background-color: $secondaryColor;
}

#serviceContent{
	margin-top: -100px;
	display: none;
}

.hidden{
	display: none;
}

#teamContainer{
	height: 600px;
}

#overlayTeam{
	z-index: 41;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #353F45;

}

.profileSection{
		z-index: 50;
		background-color: #151D21;
		height: 100vh;
		width: 23%;
}

#profileLogoContainer{
	width: 250px;
	background-color: blue;
	margin: 0 auto;

	img{
		width: 100%;
	}
}
#contactContainer{
	background-color: $secondaryColor;
}
