$primaryColor: #0a0b27;
$secondaryColor: #0eedb9;
$primaryFont: 'Raleway', sans-serif;

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	&::-webkit-scrollbar{
		display: none;
	}
}

a{
	color: inherit;
	text-decoration: none;
	color: $secondaryColor;
}

h2{
	font-size: 5em;
	font-weight: 600;
}

h3{
	letter-spacing: 10px;
	font-weight: 600;
	font-size: 2em;
}

ul{
	list-style-type: none;
}

.importantText{
	color: $secondaryColor;
}

nav{
	width: 100%;
	position: fixed;
	z-index: 20;
	background-color: $primaryColor;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
	transition-duration: 500ms;
}

#navContainer{
	width: 90%;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navItem{
	width: 150px;
	text-align: right;
}

#logo{
	max-width: 100%;
	cursor: pointer;

	&:hover{
		opacity: 0.7;
	}
}

#hamburgerMenu{
	cursor: pointer;
	width: 30%;

	&:hover{
		opacity: 0.5;
	}
}

#overlayMenu{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: $secondaryColor;
	color: $primaryColor;
	z-index: 40;
	text-align: right;
	padding: 80px;
	display: none;

	li{
		margin-bottom: 40px;
		font-size: 3em;
		font-weight: 600;
	}
}

.menuListItem{
	position: relative;
	width: auto;
	float: right;
	clear: both;
	cursor: pointer;
}

.listHover{
	transition-duration: 300ms;
	width: 0%;
	height: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: white;
}

#closeMenu{
	width: 100%;
	height: 40px;
	margin-bottom: 40px;
	cursor: pointer;

	img{
		height: 100%;
		&:hover{
			opacity: 0.6;
		}
	}
}

.clicked{
	display: block !important;
}

body{
	background-color: $primaryColor;
	font-family: $primaryFont;
	color: #ffffff;
}

#masterContainer{
	width: 100%;
	margin: 0 auto;
	// position: fixed;

	&::-webkit-scrollbar{
		display: none;
	}
}

.primaryText{
	color: $primaryColor;
}

.contrastText{
	color: $secondaryColor;
}

#landingPageContainer{
	height: 100vh;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	display: none;
}

.homepageBlurb{
	padding-top: 10px;
	font-size: 1.8em;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

#landingPageContent{
	padding-top: 200px;
}

#downArrow{
	min-width: 50px;
	max-width: 50px;
	margin-top: 100px;
	transition-duration: 100ms;
	cursor: pointer;
	opacity: 0.7;

	&:hover{
		opacity: 1;
		max-width: 53px;
	}
}

.waveContainer{
	margin-top: -90px;
	margin-bottom: -10px;
	max-width: 100%;
	pointer-events: none;
	display: none;
}

.wave{
	max-width: 100%;
}

.buttonContainer{
	padding-top: 50px;
	width: 55%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.button{
	position: relative;
	display: inline-block;
	width: auto;
	letter-spacing: 6px;
	border: 2px solid $secondaryColor;
	padding: 6px 23px 6px 23px;
	border-radius: 6px;
	font-size: 1em;
	overflow: hidden;
	cursor: pointer;

	p{
		position: relative;
		z-index: 1;
	}

	&:hover{
		font-weight: 600;
		color: $primaryColor;
	}
}

.buttonHoverEffect{
	transition-duration: 300ms;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $secondaryColor;
	height: 100%;
	width: 0%;
	z-index: 0;
	overflow: hidden;

}

.blockContainer{
	width: 100%;
	text-align: center;
	padding: 90px 0px 90px 0px;
}

.blockText{
	width: 50%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 1.4em;
	line-height: 40px;
	letter-spacing: 1px;
}

#serviceContainer{
	background-color: $secondaryColor;
}

#serviceContent{
	margin-top: -100px;
	display: none;
}

.hidden{
	display: none;
}

#teamContainer{
}

#teamContent{
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#teamHeader{
	width: 100%;
	margin-bottom: 50px;
	flex-grow: 1;
}

.teamProfileContainer{
	text-align: center;
	width: 33%;
	margin-bottom: 40px;
}

.teamMemberName{
	font-size: 1.2em;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.profileImage{
	width: 130px;
	height: 130px;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px;
	transition-duration: 300ms;
	cursor: pointer;
	border: 4px solid $primaryColor;

	img{
		max-width: 100%;
	}

	&:hover{
		border-color: $secondaryColor;
	}
}

.spotlight{
	opacity: 0.3;
}

#overlayTeam{
	z-index: 41;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #353F45;

}

.profileSection{
		z-index: 50;
		background-color: #151D21;
		height: 100vh;
		width: 23%;
}

#profileLogoContainer{
	width: 250px;
	background-color: blue;
	margin: 0 auto;

	img{
		width: 100%;
	}
}
.profileButtonContainer{
	margin: 0 auto;
	width: 300px;
}

.profileButton{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	display: block;
}

#contactContainer{
	background-color: $secondaryColor;
}

#overlayProfile{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding-top: 100px;
	position: relative;
	display: none;
	transition-duration: 500ms;
}

#sideBar{
	background: $primaryColor;
	width: 30%;
	overflow: auto;
	padding-top: 50px;
}

#sideBarInfoContainer{
	color: white;
	padding-bottom: 50px;
	line-height: 45px;
	width: 70%;
	margin: 0 auto;
	font-size: 1em;
	letter-spacing: 1px;

	.fa{
		color: white;
	}
}

.sideBarInfo{
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.sideBarHeader{
	color: $secondaryColor;
}

#ownerName{
	font-size: 1.4em;
	color: white;
	margin-bottom: 10px;
}

#projectGalleryOverlay{
	width: 100%;
	overflow: auto;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	padding-bottom: 500px;
	overflow: auto;
}

.coverImage{
	width: 33%;
	padding: 10px;
	height: 300px;
	overflow: hidden;
	transition-duration: 400ms;

	&:hover{
		cursor: pointer;
	}
}

#projectProfileImage{
	margin-bottom: 30px;
}

#popUpContainer{
	overflow: auto;
	width: 100%;
	height: 100vh;
	z-index: 100;
	position: absolute;
	padding: 80px;
	text-align: center;
	background-color: rgba(9, 10, 27, 0.90);
	display: none;
}

#closePopUp{
	display: inline-block;
	margin-bottom: 40px;
}

#projectContainer{
	background-color: $primaryColor;
	height: 100%;
	overflow: auto;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
	position: relative;
}

#closePopUpIcon{
	font-size: 1.3em;
	color: $secondaryColor;
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 20px;
	padding-top: 20px;
	cursor: pointer;

	&:hover{
		opacity: 0.6;
	}
}

#projectImagesContainer{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.projectVideo{
	position: relative;
	display: flex;
	max-width: 100%;
}

.projectImage{
	width: 100%;
	height: auto;
	padding: 0;

	img{
		width: 100%;
	}
}

#projectTitle{
	letter-spacing: 4px;
	text-transform: uppercase;
	color: white;
	font-size: 1.5em;
	margin-bottom: 15px;
}

#projectStats{
	margin-bottom: 20px;
}

.stat{
	font-size: 1em;
	display: inline-block;
	padding: 0px 11px 0px 11px;
}

.fa{
	color: $secondaryColor;
	padding-right: 10px;
}

#behanceLink{
	// border: 2px solid $primaryColor;
	// padding: 10px;
	transition-duration: 200ms;
	margin-bottom: 20px;
	padding-bottom: 5px;
	position: relative;
	width: auto;
	// border-radius: 8px;
	display: inline-block;

	&:hover{
		border-color: $secondaryColor;
	}
}

.linkHover{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0%;
	transition-duration: 200ms;
	background-color: white;
}

#contactText{
	font-weight: 400;
}

form{
	width: 41%;
	margin: 0 auto;
}

.form{
	background-color: $primaryColor;
	position: relative;
	display: inline-block;
	width: auto;
	letter-spacing: 6px;
	border: 2px solid #202640;
	padding: 6px 23px 6px 23px;
	border-radius: 10px;
	font-size: 1em;
	overflow: hidden;
	outline: none;
	opacity: 1;
	transition-duration: 300ms;
	color: white;

	&:focus{
		background-color: #151D44;
	}

	&::-webkit-input-placeholder{
		opacity: 0.8;
		color: white !important;
	}

	&:hover{
		border-color: $primaryColor;
		transition-duration: 300ms;
	}

}

textarea, input:focus{
	color:	white;
}

#inputName{
	float: left;
}

#inputEmail{
	float: right;
}

#textArea{
	margin-top: 20px;
	padding-top: 15px;
	width: 100%;

	&:hover{
		border: 2px solid $primaryColor;
		background-color: $primaryColor;
		opacity: 0.6;
		transition-duration: 300ms;
	}
}

.submitButton{
	color: white;
	margin-top: 60px;
	cursor: pointer;
}

span{
	color: $primaryColor;
}