$primaryColor: #0a0b27;
$secondaryColor: #0eedb9;
$primaryFont: 'Raleway', sans-serif;

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h2{
	font-size: 4em;
	font-weight: 600;
}

.importantText{
	color: $secondaryColor;
}

nav{
	width: 100%;
	position: fixed;
}

#navContainer{
	width: 90%;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	display: flex;
	justify-content: space-between;
}

body{
	background-color: $primaryColor;
	font-family: $primaryFont;
	color: #ffffff;
}

#masterContainer{
	width: 100%;
	margin: 0 auto;
}

.blockContainer{
	width: 100%;
}

#landingPageContainer{
	height: 100vh;
	width: 80%;
	margin: 0 auto;
	text-align: center;

	p{
		padding-top: 10px;
		font-size: 1.5em;
		letter-spacing: 1px;
	}
}

#landingPageContent{
	padding-top: 200px;
}

.buttonContainer{
	padding-top: 50px;
	width: 55%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}

.button{
	letter-spacing: 6px;
	border: 2px solid $secondaryColor;
	padding: 6px 23px 6px 23px;
	border-radius: 15px;
}

#serviceContainer{
	height: 400px;
	background-color: $secondaryColor;
}

