* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
  *::-webkit-scrollbar {
    display: none; }

a {
  color: inherit;
  text-decoration: none;
  color: #0eedb9; }

h2 {
  font-size: 5em;
  font-weight: 600; }

h3 {
  letter-spacing: 10px;
  font-weight: 600;
  font-size: 2em; }

ul {
  list-style-type: none; }

.importantText {
  color: #0eedb9; }

nav {
  width: 100%;
  position: fixed;
  z-index: 50;
  background-color: #0a0b27;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
  transition-duration: 500ms; }

#navContainer {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navItem {
  width: 150px;
  text-align: right; }

#logo {
  max-width: 100%;
  cursor: pointer; }
  #logo:hover {
    opacity: 0.7; }

#hamburgerMenu {
  cursor: pointer;
  width: 30%; }
  #hamburgerMenu:hover {
    opacity: 0.5; }

#overlayMenu {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #0eedb9;
  color: #0a0b27;
  z-index: 60;
  text-align: right;
  padding: 80px;
  display: none; }
  #overlayMenu li {
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 600; }

.menuListItem {
  position: relative;
  width: auto;
  float: right;
  clear: both;
  cursor: pointer; }

.listHover {
  transition-duration: 300ms;
  width: 0%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white; }

#closeMenu {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  cursor: pointer; }
  #closeMenu img {
    height: 100%; }
    #closeMenu img:hover {
      opacity: 0.6; }

.clicked {
  display: block !important; }

body {
  background-color: #0a0b27;
  font-family: "Raleway", sans-serif;
  color: #ffffff; }

#masterContainer {
  width: 100%;
  margin: 0 auto; }
  #masterContainer::-webkit-scrollbar {
    display: none; }

.primaryText {
  color: #0a0b27; }

.contrastText {
  color: #0eedb9; }

#landingPageContainer {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: none; }

.homepageBlurb {
  padding-top: 10px;
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-bottom: 40px; }

#landingPageContent {
  padding-top: 200px; }

#downArrow {
  min-width: 50px;
  max-width: 50px;
  margin-top: 100px;
  transition-duration: 100ms;
  cursor: pointer;
  opacity: 0.7; }
  #downArrow:hover {
    opacity: 1;
    max-width: 53px; }

.waveContainer {
  margin-top: -90px;
  margin-bottom: -10px;
  max-width: 100%;
  pointer-events: none;
  display: none; }

.wave {
  max-width: 100%; }

.buttonContainer {
  padding-top: 50px;
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }

.button {
  position: relative;
  display: inline-block;
  width: auto;
  letter-spacing: 6px;
  border: 2px solid #0eedb9;
  padding: 6px 23px 6px 23px;
  border-radius: 6px;
  font-size: 1em;
  overflow: hidden;
  cursor: pointer; }
  .button p {
    position: relative;
    z-index: 1; }
  .button:hover {
    font-weight: 500;
    color: #0a0b27; }

.buttonHoverEffect {
  transition-duration: 300ms;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0eedb9;
  height: 100%;
  width: 0%;
  z-index: 0;
  overflow: hidden; }

.blockContainer {
  width: 100%;
  text-align: center;
  padding: 90px 0px 90px 0px; }

.blockText {
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 1.4em;
  line-height: 40px;
  letter-spacing: 1px; }

#serviceContainer {
  background-color: #0eedb9; }

#serviceContent {
  margin-top: -100px;
  display: none; }

.hidden {
  display: none; }

#teamContent {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#teamHeader {
  width: 100%;
  margin-bottom: 50px;
  flex-grow: 1; }

.teamProfileContainer {
  text-align: center;
  width: 33%;
  margin-bottom: 40px; }

.teamMemberName {
  font-size: 1.2em;
  letter-spacing: 4px;
  text-transform: uppercase; }

.profileImage {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  transition-duration: 300ms;
  cursor: pointer;
  border: 4px solid #0a0b27; }
  .profileImage img {
    max-width: 100%; }
  .profileImage:hover {
    border-color: #0eedb9; }

.spotlight {
  opacity: 0.3; }

#overlayTeam {
  z-index: 41;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #353F45; }

.profileSection {
  z-index: 50;
  background-color: #151D21;
  height: 100vh;
  width: 23%; }

#profileLogoContainer {
  width: 250px;
  background-color: blue;
  margin: 0 auto; }
  #profileLogoContainer img {
    width: 100%; }

.profileButtonContainer {
  margin: 0 auto;
  width: 300px; }

.profileButton {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  display: block; }

#contactContainer {
  background-color: #0eedb9; }

#overlayProfile {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
  position: relative;
  display: none;
  transition-duration: 500ms; }

#sideBar {
  background: #0a0b27;
  width: 30%;
  overflow: auto;
  padding-top: 50px; }

#sideBarInfoContainer {
  color: white;
  padding-bottom: 50px;
  line-height: 45px;
  width: 70%;
  margin: 0 auto;
  font-size: 1em;
  letter-spacing: 1px; }
  #sideBarInfoContainer .fa {
    color: white;
    padding-right: 7px; }

.sideBarInfo {
  display: flex;
  flex-grow: 1;
  justify-content: space-between; }

.sideBarHeader {
  color: #0eedb9; }

#ownerName {
  font-size: 1.4em;
  color: white;
  margin-bottom: 10px; }

#projectGalleryOverlay {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-bottom: 500px;
  overflow: auto; }

.coverImage {
  width: 33%;
  padding: 10px;
  height: 300px;
  overflow: hidden;
  transition-duration: 400ms; }
  .coverImage:hover {
    cursor: pointer; }

#projectProfileImage {
  margin-bottom: 30px; }

#popUpContainer {
  overflow: auto;
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: absolute;
  padding: 60px;
  text-align: center;
  background-color: rgba(9, 10, 27, 0.9);
  display: none; }

#projectContainer {
  background-color: #0a0b27;
  height: 100%;
  overflow: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
  position: relative; }

#projectImagesContainer {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap; }
  #projectImagesContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

#closePopUp {
  display: inline-block;
  margin-bottom: 40px; }

.closeButtonCircle {
  background-color: #0eedb9;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition-duration: 100ms; }
  .closeButtonCircle:hover {
    opacity: 0.7; }

#closePopUpIcon {
  font-size: 1.3em;
  color: #0a0b27;
  margin: 0 auto; }

.projectVideo {
  position: relative;
  display: flex;
  max-width: 100%; }

.projectImage {
  width: 100%;
  height: auto; }
  .projectImage img {
    width: 100%; }

#projectTitle {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  margin-bottom: 15px; }

#projectStats {
  margin-bottom: 20px; }
  #projectStats .fa {
    margin-right: 7px; }

.stat {
  font-size: 1em;
  display: inline-block;
  padding: 0px 11px 0px 11px; }

.fa {
  color: #0eedb9; }

#behanceLink {
  transition-duration: 200ms;
  margin-bottom: 20px;
  padding-bottom: 5px;
  position: relative;
  width: auto;
  display: inline-block; }
  #behanceLink:hover {
    border-color: #0eedb9; }

.linkHover {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  transition-duration: 200ms;
  background-color: white; }

#contactText {
  font-weight: 400; }
#loadPageOverlay {
  width: 100%;
  height: 100vh;
  background-color: #0a0b27;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 49;
  display: none;
  align-items: center; }

svg path,
svg rect {
  fill: #0eedb9; }

.loader {
  height: auto;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top; }

/*# sourceMappingURL=style.css.map */

form {
  width: 41%;
  margin: 0 auto; }

.form {
  background-color: #0a0b27;
  position: relative;
  display: inline-block;
  width: auto;
  letter-spacing: 6px;
  border: 2px solid #202640;
  padding: 6px 23px 6px 23px;
  border-radius: 10px;
  font-size: 1em;
  overflow: hidden;
  outline: none;
  opacity: 1;
  transition-duration: 300ms;
  color: white; }
  .form:focus {
    background-color: #151D44; }
  .form::-webkit-input-placeholder {
    opacity: 0.8;
    color: white !important; }
  .form:hover {
    border-color: #0a0b27;
    transition-duration: 300ms; }

textarea, input:focus {
  color: white; }

#inputName {
  float: left; }

#inputEmail {
  float: right; }

#textArea {
  margin-top: 20px;
  padding-top: 15px;
  width: 100%; }
  #textArea:hover {
    border: 2px solid #0a0b27;
    background-color: #0a0b27;
    opacity: 0.6;
    transition-duration: 300ms; }

.submitButton {
  color: white;
  margin-top: 60px;
  cursor: pointer; }

span {
  color: #0a0b27; }
